<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books I've Read - Luca Wang</title>
    <link href="styles/output.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <% function renderStars(rating) {
       let stars='' ;
       const fullStars=Math.floor(rating); 
       const hasHalfStar=rating % 1 !==0; 
       for (let i=0; i < fullStars; i++) { 
        stars +='<i class="fas fa-star text-yellow-400"></i>';
      };
      if (hasHalfStar) { 
        stars += '<i class="fas fa-star-half-alt text-yellow-400"></i>';
      }
      const emptyStars= 5 - fullStars - (hasHalfStar ?1 : 0); 
      for (let i=0; i< emptyStars; i++) { 
        stars +='<i class="far fa-star text-gray-400"></i>'; 
      } 
      return stars;
      }%>
  </head>

  <body
    class="example bg-background-50 text-text-800 min-h-screen flex flex-col overflow-x-hidden"
  >
    <header class="py-6">
      <div
        class="bg-secondary-300 w-fit flex flex-col container mx-auto px-4 items-center rounded-lg shadow-lg"
      >
        <h1 class="text-3xl font-bold">Books I've Read - Luca Wang</h1>
      </div>
    </header>
    <main class="container mx-auto px-4 py-8 flex-grow">
      <div class="mb-4">
        <label for="sortBy" class="mr-2">Sort by:</label>
        <select
          name="sortBy"
          id="sortBy"
          class="bg-background-50 py-2 px-4 rounded"
        >
          <option value="title">Title</option>
          <option value="rating">Rating</option>
          <option value="recency">Recency</option>
        </select>
      </div>
      <div class="space-y-6">
        <% if (notes.length===0) { %>
        <div class="text-center">
          <i class="fas fa-book-open text-6xl text-gray-500 mb-4"></i>
          <h2 class="text-3xl font-bold mb-2">No posts yet</h2>
          <p class="text-gray-400 mb-6">
            It looks like there are no book notes posted yet.
          </p>
          <a
            href="/create"
            class="bg-purple-600 hover:bg-purple-700 text-white py-2 px-4 rounded"
            >Create a new post</a
          >
        </div>
        <% } else { %> <% for (let note of notes) { %>
        <div class="bg-background-100 shadow-lg rounded-lg p-4 flex">
          <div
            class="w-32 h-48 bg-background-200 rounded-lg mr-4 flex-shrink-0"
          >
            <a href="/book/<%= note.id %>"
              ><img
                src="images/<%= note.id %>.jpg"
                class="w-full h-full object-cover rounded-lg"
            /></a>
          </div>
          <div class="flex-grow flex flex-col justify-between">
            <div>
              <a
                href="/book/<%= note.id %>"
                class="text-xl font-bold mb-2 hover:text-purple-400"
              >
                <%= note.title %>
              </a>
              <p class="text-text-600 mb-1"><%= note.author %></p>
              <div class="flex items-center mb-2">
                <%- renderStars(note.rating) %>
              </div>
              <p class="text-gray-300"><%= note.description %></p>
            </div>
            <a
              href="/book/<%= note.id %>"
              class="bg-primary-600 hover:bg-primary-700 text-text-50 py-2 px-4 rounded mt-4 self-start"
              >Read More</a
            >
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $("#sortBy").change(function (e) {
        // this function runs when a user selects an option from a <select> element
        window.location.href = $("select.menu option:selected").attr("value");
      });
    </script>
  </body>
</html>
